<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.algonquincollege.smyt0058.oso">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light"
        >

        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".OnBoardingActivity">

        </activity>

        <activity
            android:name=".ChatActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:label="Oso Chat"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".ChatActivity"
            android:screenOrientation="portrait"
            android:label="Oso Settings"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChatActivity" />
        </activity>

        <activity
            android:name=".ClosetActivity"
            android:parentActivityName=".ChatActivity"
            android:screenOrientation="portrait"
            android:label="Oso Closet"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChatActivity" />
        </activity>

        <activity
            android:name=".MarketActivity"
            android:parentActivityName=".ClosetActivity"
            android:screenOrientation="portrait"
            android:label="Oso Store"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ClosetActivity" />
        </activity>

        <receiver android:name=".notifications.AlarmReceiver"></receiver>

    </application>

</manifest>